

<!-- Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">@Title</h1>
                <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal"
                @onclick="()=>ModelConfirmation(false)">Close</button>
                <button type="button" class="btn @ButtonBootstrapStyle btn-lg"
                @onclick="()=>ModelConfirmation(true)">@ButtonText</button>
            </div>
            
        </div>
    </div>
</div>

@code {

    [Parameter]

    public EventCallback<bool> OnModelConfirmation { get; set; }

    [Parameter]
    public string Title { get; set; }="Please Confirm";

    [Parameter]
    public string ButtonText { get; set; } = "Confirm";

    [Parameter]
	public string ButtonBootstrapStyle { get; set; } = "btn-primary";


	private void ModelConfirmation(bool isConfirmed)
	{
		if (isConfirmed)
		{
			OnModelConfirmation.InvokeAsync(true);
        }
	}
}
