@page "/category"
@inject ICategoryRepository _categoryrepository;
@if (IsProcessing)
{
	<div class="position-absolute w-60 h-60 d-flex flex-column align-items-center bg-white justify-content-center">
		<img src="/images/load.gif" />
	</div>
}
else
{
	<div class="card shadow border-0 mt-4">
		<div class="card-header bg-black bg-gradient my-lg-0 py-3">
			<div class="row" >
				<div class="col-12 text-center">
					<h2 class="text-white py-2">Category List</h2>
				</div>
			</div>
		</div>
		<div class="card-body p-4">
			<div class="row pb-3">
				<div class="col-12 text-end">
					<a class="btn btn-lg btn-secondary" style="width:250px" href="/category/create"><i class="bi bi-file-earmark-plus"></i>Add New Category</a>
				</div>
			</div>
			@if (Category.Any())
			{
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Name</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						@foreach(var item in Category)
						{
							<tr>
								<td>@item.Name</td>
								<td><a href="@($"category/update/{item.Id}")" class="btn btn-primary"><i class="bi bi-pencil"></i>Edit </a>
								<button class="btn btn-danger"><i class="n bi-trash3"></i>Delete</button>
								</td>
							</tr>

						}
					</tbody>
				</table>
			}
		</div>
	</div>
}


@code {
	private bool IsProcessing { get; set; } = true;

	private IEnumerable<Category> Category { get; set; } = new List<Category>();

	protected override async Task OnInitializedAsync()
	{
		
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await LoadCategories();
			IsProcessing = false;
			StateHasChanged();
		}
	}
	private async Task LoadCategories()
	{
		Category = await _categoryrepository.GetAllCategoryAsync();
	}
}
